*{
    margin: 0;
}
@media only screen and (max-width : 1130px) {
    /* .appDiv{
       display: grid;
       grid-template-columns: 1, 1fr;
       grid-template-rows: 153px auto auto auto auto;
    }
    .topDiv{

    }
    .bodyDiv{

    }
    .footerDiv{

    }
    .midCentDiv{

    }
    .viewThisDiv{

    } */








}