*{
    margin: 0;
}
.topDiv{
    border-top: solid 10px rgba(19, 67, 71, 0.9);
    background: #2d6360 50% 0 url("../images/huntington.jpg") no-repeat;
    background-attachment: fixed, scroll;
    background-image: url("../images/contours.png"), url("../images/noise.png"), url("../images/gridlines.png"), url("../images/huntington.jpg");
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-size: auto, auto, auto, cover;
    text-align: center;
}
h1{
    padding-top: 0;
    padding-bottom: 5px;
    border-bottom: none;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
}
h2{
    display: block;
    padding-top: 5px;
    padding-bottom: 30px;
    border-top: none;
    color: rgba(255,255,255,0.6);
    font-size: 1.6em;
    font-style: italic;
}
h3{
    margin: 15px 0 15px auto;
    color: #2e484c;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.8em;
    font-weight: lighter;
    text-transform: uppercase;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@media only screen and (max-width: 1130px) {
    .topDiv{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .topInnerDiv{
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h1::before{
        display: inline-block;
        position: relative;
        top: 20px;
        content: "";
        width: 80px;
        height: 80px;
        margin: -20px 20px 0 0;
        background: url("../images/enso.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.6;
    }



    #viewDesignsOuterDiv{
        position: relative;
        top: 10px;
        height: 82px;
        width: 100%;
        background: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .view{
        height: 82px;
        width: 100%;
        background: white;
        opacity: 0.5;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #viewAllDesignsDiv{
        width: 450%;
    }
    .view:hover{
        opacity: 0.7;
    }
    #viewAllDesigns{
        color: black;
        z-index: 1;
        opacity: 1;
    }
}




@media only screen and (min-width : 1133px) {
    .topDiv{
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1{
        font-size: 77px;
        margin-bottom: 12px;
    }
    #CZG_TheBeauty{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .topInnerDiv{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    h1::before{
        display: inline-block;
        position: relative;
        top: 60px;
        content: "";
        width: 140px;
        height: 140px;
        margin: -20px 20px 0 0;
        background: url("../images/enso.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.6;
    }
    #viewDesignsWrapper{
        height: 500px;
    }
    #viewDesignsOuterDiv{
        position: relative;
        top: 10px;
        height: 82px;
        width: 100%;
        background: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .view{
        height: 82px;
        width: 100%;
        background: white;
        opacity: 0.2;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #viewAllDesignsDiv{
        width: 450%;
    }
    .view:hover{
        opacity: 0.7;
    }
    #viewAllDesigns{
        color: black;
        z-index: 1;
        opacity: 1;
    }
}