* {
    margin: 0;
    padding: 0;
}
.bigDiv {
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: solid 2px;
    border-radius: 6px;
}
.spotDiv {
    display: inline-block;
    text-align: center;
    width: 150px;
    height: 70px;
    margin: 7px;
    border-radius: 10px;
}
h4 {
    margin: 4px;
}
h6 {
    margin: 4px;
}