* {
    font-family: SuperMarioGalaxy;
    color: gdb(217, 57, 48);
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titlebar {
    display: flex;
    justify-content: flex-start;
    font-size: 22px;
    background-color: rgb(250, 219, 75);
    color: rgb(217, 57, 48);
    width: 90%;
    margin-top: 20px;
}
h1 {
    margin: 10px;
    margin-left: 60px;
}
.imagebar {
    background-color: rgb(217, 57, 48);
    text-align: center;
    width: 90%;
}
#luigijumping{
    max-height: 85%;
    margin: 10px;
}
.textbar {
    color: rgb(217, 57, 48);
    text-align: center;
    width: 90%;
}


.footbar{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(250, 219, 75);
    width: 90%;
    margin-bottom: 20px;
}
#mushroom{
    max-height: 50px;
    width: auto;
    margin: 5px;
}


.regularText{
    font-family: 'Arial-Black';
}

h2{
    margin: 5px;
}