THERE ARE A FEW TRICKS THAT I DONT KNOW ON THIS

* {
    box-sizing: border-box;
    text-align: center;
}
div{
    position: absolute;
}

#topPink {
    background: #F5C6D6;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 8%;
    height: 12%;
    width:80%;
}
.secondPinks {
    margin: 0px;
    display: inline-block;
    background: #EE2E84;
    top: 18%;
    height: 12%;
    width: 19%;
}
#pink1 {
    margin-left: 0px;
    left: 50px;
}
#pink2 {
    margin-left: 20%;
    left: 50px;
}
#pink3 {
    margin-left: 40%;
    left: 50px;
}
#pink4 {
    margin-left: 60%;
    left: 50px;
}






.thirdBlues {
    display: inline-block;
    color:#85CFD8;
    background: #85CFD8;
    width: 45%
}
.fourthGreen {
    display: inline-block;
    color:#8DC63F;
    background:#8DC63F;
    width: 70%;
}
.fourthOrange {
    display: inline-block;
    color:#E76E34;
    background: #E76E34;
    width: 20%;
}