* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
#AppDiv {
    background: linear-gradient(to right, rgb(123, 164, 125), rgb(22, 22, 22), rgb(22, 22, 22), rgb(112, 63, 57));
}
h1 {
    height: 180px;
    text-align: center;
    font-size: 45px;
    color: rgb(37, 21, 15);
    text-shadow: rgb(255, 252, 219) 3px 2px 4px;;
    background-image: url("mandalore.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top left;
}
h2{
    color: rgb(255, 252, 219);
}
h3{
    text-align: center;
    color: rgb(255, 252, 219);
}
input {
    margin: 5px;
    font-size: 25px;
    color: rgb(255, 252, 219);
    background: linear-gradient(to right, rgb(20, 20, 20), rgb(55, 33, 22));
}
button {
    font-size: 30px;
    color: rgb(255, 252, 219);
    box-shadow: 2px 5px;
    background-color: rgb(112, 63, 57);
    margin: 3px;
}
form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#bountiesDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.bountyCard{
    border: white 2px solid;
    width: 350px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
