.main-headline {
    color: darkgreen;
    text-align: center;
    font-size: 45px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2 {
    text-align: center;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
img {
    width: 330px;
    height: 330px;
    float: left;
    margin: 20px;
    margin-left: 55px;
}
.body-div {
    font-size: 23px;
    line-height: 35px;
}
.fist-two {
}

a {
    text-decoration: none;
    text-transform: none;
}
a:hover {
    text-decoration: underline;
}
.bottom-addition {
    text-transform: uppercase;
}
