@media screen and (max-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(8, 28, 36);
    }
    .headerDiv {
        text-align: center;
        position: sticky;
        top: 0;
    }
    h1 {
        margin: 15px;
        text-shadow: 0.5px 0.5px RGB(1, 210, 119);
        font-size: 34px;
        text-align: center;
    }
    a {
        text-decoration: none;
        font-size: 25px;
    }
    .navbar {

        background: linear-gradient(to right, RGB(1, 210, 119), RGB(8, 28, 36), RGB(8, 28, 36), RGB(1, 210, 119));
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 25px;
        height: 52px;
        border-radius: 4px;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    h2 {
        margin-bottom: 20px;
        text-align: center;
        font-size: 32px;
    }
    .navLink {
        text-shadow: 0.3px 0.3px RGB(1, 210, 119);
    }
    .navLink:hover{
        background: radial-gradient(RGB(1, 210, 119), RGB(1, 210, 119, 0.1), RGB(1, 210, 119, 0.0));
    }
    a#inputYear{
        color: RGB(1, 210, 119);
    }
    a#inputYear:hover{
        background: radial-gradient(RGB(6, 96, 62), RGB(8, 28, 36, 0.1), RGB(8, 28, 36, 0.0));        
    }
    input#inputYear {
        color: RGB(1, 210, 119);
        margin-top: 50px;
        font-size: 33px;
        width: 200px;
        text-align: center;
        border: solid 2px;
    }
    #inputSubmit {
        margin: 15px;
        font-size: 22px;
    }
    #inputYearForm {
        margin-bottom: 155px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .content {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movieList{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .movieOverview {
        font-size: 12px;
        width: 300px;
    }
    .movieDiv {
        display: inline-block;
        width: 300px;
        height: auto;
        margin: 5px;
    }
    img {
        margin-top: 5px;
    }


}