
/* #socialDiv{
    background: linear-gradient(to top, rgb(77, 146, 230), rgb(59, 114, 181))
} */
#socialLinksDiv{
    height: 124px;
    position: relative;
    top: 44px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(to top, rgb(110, 73, 104), rgb(178, 172, 188));
    border-radius: 62px;
    border: 3px solid rgb(95, 115, 118);
}
.socialA{
    background: transparent;
}
.socialImg{
    height: 58px;
    width: auto;
    border-radius: 33px;
    background-color: transparent!important;
}
.socialImg:hover {
    box-shadow: 0px 2px 40px rgb(58, 51, 70);
    position: relative;
    -webkit-transform: rotate(360deg);
    transform: scale(1.05);
    text-shadow: 1px 1px 4px black;
}