* {
    background: whitesmoke;
    color: rgb(32, 32, 32);
    font-family: AndaleMono, Arial, Helvetica, sans-serif
}
#number{
    text-align: center;
    padding-top: 44px;
}
/* a.navbtn{
    font-size: 44px;
} */
#contentDiv{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#titleDiv1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#titleDiv2{
    border: rgb(95, 115, 118) solid 3px;
    height: 44px;
    width: 319px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nameText{
    color: rgb(58, 51, 70);
    width: 122px;
    font-size: 15px;
    font-weight: bold;
    margin: 8px;
    font-family: Arial, Helvetica, sans-serif
}
.names{
    color: rgb(58, 51, 70);
}
#fName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#lName{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
#topImgDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, rgb(159, 183, 165), rgb(210, 217, 194));
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
}
#cartoonDiv{
    position: relative;
    top: 38px;
    border: 10px rgb(58, 51, 70) solid;
    width: 206px;
    height: 206px;
    border-radius: 122px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: linear-gradient(to bottom, rgb(235, 235, 235), lightgray);
    box-shadow: 0px 0px 2px 2px rgb(54, 54, 86);
}
#nateCartoon{
    position: relative;
    bottom: 18px;
    width: 146px;
    height: auto;
    border-radius: 86px 86px 30px 30px;
    background-color: transparent!important;
}
#signature{
    width: 100px;
    height: auto;
    position: relative;
    bottom: 229px;
    background-color: transparent!important;
}


#synopsisDiv1{
    width: 100%;
    margin-bottom: 12px;
    background: linear-gradient(to top, rgb(58, 51, 70), rgb(110, 73, 104));
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    box-shadow: 3px 3px 3px rgb(54, 54, 86);
}
#synopsisDiv2{
    color: rgb(210, 217, 194);
    background: linear-gradient(to top, rgb(58, 51, 70), rgb(110, 73, 104));
}











