body{
    background-image: url("http://rachelfourquet.com/theoffice/img/safety_training.jpg");
}
img {
    width: 100%;
}
h1 {
    height: 80px;
    width: 100%;
    background: white;
    text-align: center;
}