
#intentDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, rgb(239, 97, 151),  rgb(157, 123, 197));

}
/* this came from http://jsfiddle.net/nuwa0me0/ */
.intent_radio_item{
    display: none !important;
    width: 90px;
}
.intent_radio_item:checked + label {
    opacity: 1;
    color: rgb(34, 104, 177);
    background: radial-gradient(white, white, rgb(44, 84, 134));
}
.intent_label_item {
    font-size: 20px;
    margin: 4px;
    opacity: 0.4;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    border: solid 1px rgb(19, 38, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    background: radial-gradient(rgb(190, 100, 165), rgb(31, 58, 90));
    }
